#content {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#content h2 {
  font-weight: 400;
  font-size: 18px;
}

#content a {
  color: #0079a5;
  text-decoration: none;
}

#content img {
  margin-left: 10px;
  vertical-align: middle;
}

#content li {
  line-height: 30px;
}

#content nav a {
  margin-left: 10px;
}